<!doctype html>
<html lang="ru">
<!--[if IE]>	
		  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	  <![endif]-->
<head>
	<meta charset="UTF-8">
	<meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="HandheldFriendly" content="True">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Favicons for all devices -->
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="img/favicons/favicon-16x16.png" sizes="16x16">
    <meta name="theme-color" content="#ffffff">
	<title>Document</title>
	<!-- <link rel="stylesheet" href="css/style.min.css"> -->
    <link rel="stylesheet" type="text/css" href="css/libs.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
<!--[if lt IE 7]>
			<p class="browsehappy">Вы используете <strong>устаревший</strong> браузер . Пожалуйста <a href="http://browsehappy.com/"> обновите Ваш браузер</a> для улучшения отображения сайта.</p>
		<![endif]-->