/* ITEMS */
.item{
  padding-bottom: 70px;
  @include clearfix;
  .item-block{
    @include span(4);
    position: relative;
  }
  .btn-primary{
    @extend %btn;
    @extend %btn-normal;
    @extend %btn-primary;
  }
  .btn-secondary{
    @extend %btn;
    @extend %btn-normal;
    @extend %btn-secondary;
  }
  }

  .item-block{
    .thumbnail {
  padding: gutter();
  margin-bottom: $line-height-computed;
  line-height: $line-height-base;
  background-color: $thumbnail-bg;
  border: 1px solid $thumbnail-border;
  border-radius: 0;
  @include transition(border .2s ease-in-out);

  // [converter] extracted a&:hover, a&:focus, a&.active to a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active

  // Image captions
  .caption {
    padding:0;
    color: $thumbnail-caption-color;
  }
}
  }

  .corner-new{
  position: absolute;
  top: 6px;
  right: 20px;
  width: 30px;
  height: 29px;
  background-color: #ed3543;
  color: #fff;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  @include rotate(45);
  z-index: 45;
  &:before,&:after{
    content:'';
    position: absolute;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-left-color: #ed3543;
    border-bottom-color: #ed3543;
    right: -29px;
    top:0;
  }
  &:before{
    left: -29px;
    border-right-color: #ed3543;
    border-left-color: transparent;
  }
}