/* SUSY-GRID */

$susy: (
  columns: 12,
  column-width: 60px,
  gutters: 1/3,
  output:float,
  math: static,
  container:960px,
  gutter-position: split,
  global-box-sizing: border-box,
 debug: (
	image: show,
	color: rgba(#66f, .25),
	output: background,
	toggle: top right,
  ),
  use-custom: (
	background-image: true,
	background-options: false,
	box-sizing: true,
	clearfix: false,
	rem: true,
  ) 
);

.container{
  @include container($susy hide);
  @include clearfix;
}