$red:                     #cb2227;
$light-red:               #e44d52;
$blue:                    #2c3343;
$light-blue:              #232e45;

//== Scaffolding
//
//## Settings for some of the most global styles.

$body-bg:                 #f7f7f7;

$text-color:              #6f7070;

//** Global textual link color.

$link-color:              #a8a8a8;
//** Link hover color set via `darken()` function.

$link-hover-color:        darken($link-color, 15%) !default;


//== Typography
//

$font-family-base:        'OpenSans-Light';
$font-size-base:          13px;
$line-height-base:        1.3;

//** By default, this inherits from the `<body>`.
$headings-font-family:    'BarnaulGroteskBold-Reg';
$headings-font-weight:    bold;
$headings-line-height:    1.2;
$headings-color:          #1f1f1f;

$font-size-h1:            31px;
$font-size-h2:            22px;
$font-size-h3:            19px;
$font-size-h4:            15px;
$font-size-h5:            14px;
$font-size-h6: 			  $font-size-base;

// ** Button
$font-family-btn:         'Arial', sans-serif;
$btn-color:               #b4b4b4;
$color-primary:           #e44d52;
$color-primary-hover:     #cb2227;
$color-primary-focus:     #cb2227;