<div class="thumbnail-row">
	<div class="thumbnail-col">
		<a href="#" class="thumbnail">
			<img src="http://placehold.it/80" alt="...">
		</a>
	</div>
	<div class="thumbnail-col">
		<a href="#" class="thumbnail">
			<img src="http://placehold.it/80" alt="...">
		</a>
	</div>
	<div class="thumbnail-col">
		<a href="#" class="thumbnail">
			<img src="http://placehold.it/80" alt="...">
		</a>
	</div>
	<div class="thumbnail-col">
		<a href="#" class="thumbnail">
			<img src="http://placehold.it/80" alt="...">
		</a>
	</div>
</div>